/**** THIS IS THE STYLE */

*{box-sizing:border-box;}

body{
    margin:0;
    padding:10vw;
}

.box{
    background-color:rgb(204, 100, 100);
    padding: 2vw;
    width: 20vw;
    height: 8vw;
    border-radius: 2vw;
    background-size: auto 8vw;
    animation-name: rotation;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotation {
    0%{
background-position:0 0;
    }
    100%{
background-position: -72vw 0;
    }
}